@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --soft-black: #333;
  --soft-white: #f5f5f5;
  --soft-blue: #33f;
  --extra-soft-blue: #aaf;
  --soft-gray: #aaa;
  --extra-soft-gray: #ccc;
  --soft-green: #3f3;
  --extra-soft-green: #afa;
  --soft-red: #f33;
  --extra-soft-red: #faa;
}

* {
  box-sizing: border-box;
  color: var(--soft-white);
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--soft-black);
  height: 100vh;
}

#container {
  padding: 4%;
  max-width: 480px;
}

#title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

button {
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  margin-top: 5%;
  padding: 2% 0;
  width: 100%;
}

.show-button {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}

.show-button:active {
  border-color: var(--extra-soft-blue);
  color: var(--extra-soft-blue);
}

#show-new-category-input {
  margin-top: 2.2%;
}

#new-word-input-wrap,
#new-category-input-wrap {
  border: 1px solid var(--soft-gray);
  border-radius: 8px;
  margin-top: 5%;
  padding: 2%;
  transition: .3 ease-in;
}

.input-wrap:nth-child(2) {
  margin-top: 1%;
}

input[type="text"],
select {
  background-color: transparent;
  border: 1px solid var(--soft-gray);
  border-radius: 5px;
  outline: none;
  padding: 1%;
}

input[type="text"]:focus,
select:focus {
  border-color: var(--soft-blue);
}

input[type="text"] {
  margin-left: 2%;
}

select {
  margin-top: 1%;
}

#new-word-success,
#new-category-success {
  color: var(--soft-green);
  margin-top: 2%;
}

.add-button {
  border-color: var(--soft-green);
  color: var(--soft-green);
}

.add-button:active {
  border-color: var(--extra-soft-green);
  color: var(--extra-soft-green);
}

.cancel-button {
  border-color: var(--soft-red);
  color: var(--soft-red);
  margin-top: 2.2%;
}

.cancel-button:active {
  border-color: var(--extra-soft-red);
  color: var(--extra-soft-red);
}

table {
  border-collapse: collapse;
  margin-top: 5%;
  width: 100%;
  transition: .5 ease-in;
}

caption {
  background-color: var(--soft-gray);
  border: 1px solid var(--extra-soft-gray);
  border-bottom: none;
  font-weight: 600;
  padding: 2%;
}

th, td {
  border: 1px solid var(--extra-soft-gray);
  padding: 2%;
}

th {
  background-color: var(--soft-blue);
  font-weight: 600;
}

tr {
  transition: .5 ease-in;
}

td {
  color: var(--soft-black);
  background-color: var(--extra-soft-blue);
}

.hidden {
  display: none;
}
